<%= form_for(@guest) do |f| %>
  <% if @guest.errors.any? %>
     
      <% @guest.errors.full_messages.each do |msg| %>
        <h2><%= msg %></h2>
      <% end %>
      
  <% end %>
 <div class="field">
    <%= f.text_field :name , placeholder:'Name...'%>
  </div>
  <div class="field">
    <%= f.text_field :email , placeholder:'Email...' %>
  </div>
   <div class="field">
    <%= f.text_field :desire , placeholder:'What food are you craving?...'%>
  </div>
  <div class="actions">
    <%= f.submit "JOIN US", class: "btn btn-large btn-info" %>
  </div>
<% end %>
