<%= form_for(@host) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :email , placeholder:'Email...'%>
  </div>
  <div class="field">
    <%= f.number_field :number_of_guests, placeholder:'How many guests would you like to host?' %>
  </div>
  <div class="actions">
    <%= f.submit "JOIN US", class: "btn btn-large btn-info"%>
  </div>
<% end %>
