<h1>Listing hosts</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Number of guests</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hosts.each do |host| %>
  <tr>
    <td><%= host.email %></td>
    <td><%= host.number_of_guests %></td>
    <td><%= link_to 'Show', host %></td>
    <td><%= link_to 'Edit', edit_host_path(host) %></td>
    <td><%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Host', new_host_path %>
